{% extends 'base.html' %}



{% block title %}Nitesh Pandey{% endblock %}


{% block content %}

<section class="body-font bg-slate-900 text-white">
    <div class="container mx-auto px-5 py-24">
        <h2 class="text-4xl my-5">Cracklogic</h2>
        <div class="cracklogicblogposts grid grid-cols-3 grid-rows-auto gap-x-5 gap-y-10">
        </div>
    </div>
    <div class="container mx-auto px-5 py-24">
        <h2 class="text-4xl my-5">Technocutter</h2>
        <div class="technocutterblogposts grid grid-cols-3 grid-rows-auto gap-x-5 gap-y-10">
        </div>
    </div>
</section>

{% endblock %}