{% extends 'base.html' %}



{% block title %}Nitesh Pandey{% endblock %}


{% block content %}

<section class="text-white body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-7">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">Certification
            </h1>
        </div>
        <div class="grid grid-cols-3 grid-rows-auto gap-4">
            <div class="p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Accenture Future Learn AI.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/AI FutureLearn 2 Accenture.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Google_Ads_Apps.jpg') }}">
                </div>
            </div>
            
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/AWS Master.jpg') }}">
                </div>
            </div>

            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Amity ML.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/NPTEL Certificate.png') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Congnitive Data Visualization.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Congnitive Python for Data Science.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Data Analyis.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/GreatLearning Python for ML.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/IBM AI.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/LinkedIn Power BI.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/LinkedIn PowerBI 2.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Microsoft AI Classroom.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/ML foundation Greatlearning.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/ML with Python GreatLearning.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Python_Guvi.png') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Great Learning Statistics for machine Learning.png') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Machine-Learning-INeuron.jpg') }}">
                </div>
            </div>
            <div class=" p-4">
                <div class="">
                    <img alt="gallery" class="w-full object-cover object-center"
                        src="{{ url_for('static', filename='certs/Cloud Core IBM.png') }}">
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}