{% extends 'base.html' %}



{% block title %}Response{% endblock %}

{% block content %}

<section class="body-font bg-slate-700 text-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <p class="leading-relaxed text-lg">Thank you for response</p>
        <p class="leading-relaxed text-lg">Message Sent Successfully</p>
        <a href="/" class="mx-0 my-2 px-2 py-2 min-w-fit bg-indigo-700 block rounded shadow-xl ">Go to home</a>
      </div>
    </div>
  </section>

{% endblock %}